body{
   background-color:silver;
}

nav{
    text-align: center;
    margin:2%;
    padding-left: 2%;
    padding-right:2%;
    border-style: solid;
    background-color:skyblue;
    border-radius:1em;
}

nav a{
    text-align: center;
    margin:2%;
    padding-left:2%;
}

nav a:link{
    text-align: center;
    margin:2%;
    padding-left:2%;
}

nav a:hover{
    text-align: center;
    margin:2%;
    padding-left:2%;
}

nav a:active{
    text-align: center;
    margin:2%;
    padding-left:2%;
}

nav a img{
    border:0;
    width:10%;
    height:10%;
    padding-left:2%;
}

#box{
    margin:2%;
    padding-left:25%;
    padding-right:25%;
    border-style: solid;
    background-color:white;
    border-radius:1em;
}

#box2{
    margin:2%;
    padding-left:25%;
    padding-right:25%;
    border-style: solid;
    background-color:grey;
    border-radius:1em;
}

#badges_container{
   background-color:skyblue;
   border: 0.2em;
   border-style:solid; 
   margin:5%;
   padding:2%;
   float:both;
   position:absolute;
   right: 0.5%;
   top: 25%;
   border-radius:1em;
}
